/* HTML elements  */

body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(250, 247, 249);
    color: 333333;
}

.navigation {
    /* padding: 1vw; */
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    float: left;
    text-decoration: none;
    font-size: 1vw;
    text-align: left;
}

.nav .icon {
    display: none;
}

.heroimage {
    width: 100%;
    height: auto;
    opacity: 100;
    position: relative;
    z-index: -2;
}

.nika {
    width: 100%;
    height: auto;
    opacity: 100;
    position: relative;
    z-index: -1;
}

.text {
    position: absolute;
    top: 6vw;
    left: 6.5vw;
    color: rgb(28, 28, 33);
}

h1 {
    font-size: 6.25vw;
    margin-block-end: 0.73em;
}

h2 {
    font-size: 4vw;
    margin-block-start: 0.50em;
    margin-block-end: 0.30em;
}

h3 {
    font-size: 3.57vw;
}

h5 {
    font-size: 1vw;
    color: #366EFF;
}

h6 {
    font-size: 1vw;
    color: #366EFF;
}

nav {
    padding: 1vw;
    position: sticky;
    top: 0;
    width: 100%;
}

a {
    margin-left: 3vh;
    color: #333333;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

p {
    font-size: 1vw;
    margin-block-start: 0.5em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navigationbar input[type=text] {
    float: right;
    margin-right: 5vw;
    border: none;
    font-size: 1vw;
    text-decoration-color: #333333;
}

input {
    font: 400 13.3333px Montserrat;
}

.navigationbar {
    align-items: center;
}

ol {
    margin-left: 4vw;
}

.sculpture {
    position: absolute;
    top: 10vw;
    right: 2vw;
    width: 50%;
}

.section-name {
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 7vw;
    margin-bottom: 8vw;
    margin-left: 7vw;
}

.WaveImage {
    width: 50%;
    float: right;
    display: flex;
}

.button {
    background-color: #366EFF;
    border-radius: 1vw;
    border: none;
    color: white;
    padding: 2vw 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.grid-container {
    display: grid;
    grid-template-areas: "grid-item1" "grid-item2" "grid-item3" "grid-item4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: span 2;
    align-content: center;
    justify-content: flex-start;
    /* grid-gap: 10px;
    padding: 10px; */
    margin-bottom: 10vw;
    vertical-align: middle;
    margin-left: 7vw;
    margin-right: 5vw;
}

.responsive {
    width: 100%;
    height: auto;
    opacity: 100;
    /* top: -40vw; */
    z-index: -1;
}

#aboutme {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 10vw;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 10vw;
    vertical-align: middle;
    margin-left: 7vw;
    margin-right: 5vw;
}

.paragraph {
    font: 5vw;
    white-space: wrap;
    line-height: 1.8;
    margin-bottom: 3vw;
}

.right {
    margin-left: 10vw;
}

#footer-muse {
    top: 10vw;
    left: 15vw;
    position: relative;
    height: 20vw;
    padding: 2vw 7vw;
    background-repeat: no-repeat;
    background-size: contain;
    animation: footerMuseAnimation infinite 1.1s;
    animation-play-state: paused;
    display: inline-block;
}

#footer-muse:hover {
    animation-play-state: running;
}

@keyframes footerMuseAnimation {
    0%,
    20% {
        background-image: url(../images/atina10.png);
    }
    21%,
    40% {
        background-image: url(../images/atina11.png)
    }
    41%,
    60% {
        background-image: url(../images/atina12.png);
    }
    61%,
    80% {
        background-image: url(../images/atina13.png);
    }
    81%,
    99% {
        background-image: url(../images/atina14.png);
    }
}

.columns {
    position: relative;
    /* margin-right: 25vw; */
    margin-left: 28vw;
    width: 60vw;
    padding: 1.25vw;
    font-size: 1.25vw;
}

.line {
    position: relative;
    margin-left: 35vw;
    width: 50vw;
    padding: 1.25vw;
}

.email {
    text-align: left;
    position: relative;
    margin-left: 35vw;
    bottom: 0vw;
    font-size: 1.25vw;
    padding: 1.25vw;
}

.email:hover {
    font-weight: bolder;
}

#footer-content {
    position: relative;
    margin-right: 5vw;
    bottom: 8vw;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#pink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: -1;
}

#vectordots {
    margin-left: 10vw;
    bottom: 3vw;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #366EFF;
    color: white;
    cursor: pointer;
    padding: 1vw 2vw;
    border-radius: 9px;
    /* margin-right: 2vw; */
}

#myBtn:hover {
    background-color: #555;
}

@media screen and (max-width: 700px) {
    #box {
        width: 50%;
    }
    .grid_item {
        width: 50%;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-left: 10vw;
        align-items: center;
        margin-right: 10vw;
    }
    .heroimage {
        width: 100%;
        height: auto;
        opacity: 100;
        position: relative;
        z-index: -2;
    }
    .image {
        width: 100%;
        height: auto;
        opacity: 100;
    }
    .responsive {
        width: 100%;
        height: auto;
    }
    .text {
        position: absolute;
        top: 5vh;
        left: 30px;
        color: rgb(17, 17, 18);
    }
    #aboutme {
        display: grid;
        grid-template-columns: auto;
        align-content: center;
        justify-content: flex-start;
        margin-bottom: 10vw;
        vertical-align: middle;
        margin-left: 7vw;
        margin-right: 5vw;
    }
    .container {
        width: 100%;
        height: auto;
        opacity: 100;
        bottom: 0;
        left: 0;
        z-index: -5;
    }
    .paragraph {
        font: 2vw;
        white-space: wrap;
        line-height: 1.5;
        margin-bottom: 3vw;
    }
    h6 {
        font-size: 2vh;
        color: #366EFF;
    }
}


/* .toggler {
    width: 500px;
    height: 200px;
}

#button {
    padding: .5em 1em;
    text-decoration: none;
}

#effect {
    position: relative;
    width: 240px;
    height: 170px;
    padding: 0.4em;
}

#effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
} */

#section1 {
    height: 600px;
    background-color: pink;
}

#section2 {
    height: 600px;
    background-color: yellow;
}

html {
    scroll-behavior: smooth;
}